.container{
    background: white;
    margin: 0 auto;
    padding: 3%;
    width: 90%;
}
.myinfo{
  display: inline-flexbox;
  font-size: 50px;
  font-family: sans-serif;
  /* I want to center the text */
  text-align: center;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
/* specify the type of display: flex
Also specify the margin (for whatever reason these are the top and bottom margins
*/
.projects_in_row_1{
    display: flex;
    margin: 25px 0;
    padding-top: 30px;
}
.projects_in_row_2{
    display: flex;
    margin: 25px 0;

}
/* here are all of the images I'm using and their size ratio's (width/height) */
.img1{flex: 1.5;}
.img2{flex: 1.5;}
.img3{flex: 2.1667;}
.img4{flex: 1.983;}

/* adding a hover overlay icon change */
.projectOverlay{
  display: inline-flexbox;
  position: relative;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 100%;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.projectOverlayText{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* all of the over hoverlay stuff */
.img1:hover .projectOverlay{
  opacity: 1;
}
.img2:hover .projectOverlay{
  opacity: 1;
}
.img3:hover .projectOverlay{
  opacity: 1;
}
.img4:hover .projectOverlay{
  opacity: 1;
}

/* This here gives us the margin to the right of each of the images*/
.projects_in_row_1> div:not(:last-child) {
    margin-right: 2%;
}
.projects_in_row_2> div:not(:last-child) {
    margin-right: 2%;
}

/* side bar nav stuff */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* This is the formatting for the location of the menu button on the screen and the menu icon */
  .menubutton{
    /* width and height should refer to image */
    width: 40px;
    height: auto;
  }
   /* When you hover mouse over the menu icon, change their color */
   .menubutton:hover {
    filter: invert(40%);
  }

  /* This is the css for the rotating text */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
  }

  .text {
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    height: 40px;
    top: 30%;
    margin-top: 20px;
  }

  .rotatingWords {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  .word {
    position: absolute;
    width: 220px;
    opacity: 0;
  }

  .letter {
    display: inline-block;
    position: relative;
    float: left;
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
    -webkit-transform-origin: 50% 50% 25px;
            transform-origin: 50% 50% 25px;
  }

  .letter.out {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .letter.behind {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }

  .letter.in {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .wisteria {
    color: #8e44ad;
  }

  .belize {
    color: #2980b9;
  }

  .pomegranate {
    color: #c0392b;
  }

  .green {
    color: #16a085;
  }

  .midnight {
    color: #2c3e50;
  }

 