.container{
    background: white;
    margin: 0 auto;
    padding: 3%;
    width: 90%;
}
/* Just playing with the font stuff here of the p tag class*/
/* shit option a is block comment btw*/
p {
    font-size: 50px;
    font-family: sans-serif;
    /* I want to center the text */
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
/* specify the type of display: flex
Also specify the margin (for whatever reason these are the top and bottom margins
*/
.projects_in_row_1{
    display: flex;
    margin: 25px 0;

    
}
.projects_in_row_2{
    display: flex;
    margin: 25px 0;

}
/* here are all of the images I'm using and their size ratio's (width/height) */
.img1{flex: 1.5;}
.img2{flex: 1.5;}
.img3{flex: 2.1667;}
.img4{flex: 1.983;}

/* This here gives us the margin to the right of each of the images*/
.projects_in_row_1> div:not(:last-child) {
    margin-right: 2%;
}
.projects_in_row_2> div:not(:last-child) {
    margin-right: 2%;
}

/* side bar nav stuff */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* This is the formatting for the location of the menu button on the screen */
  .menubutton{
    text-align: right;
    padding-top: 0px;
  }
  